.App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.toDoh1{
    font-size: 30px;
    text-shadow: 2px 2px 1px rgb(35, 57, 154);
    padding: 10px 20px;
    background-color: brown;
    border-radius: 10px 20px;
}