* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.pageSwitcher {
    color: black;
    transition: ease-out .25s;
}

.pageSwitcher:hover {
    color: red;
    transform: scale(1.1);
}