header {
    background-color: aquamarine;
    padding: 1rem 2rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
 .header__button-login {
    border-radius: 6px;
    padding: 6px 10px;
    background-color: tomato;
    transition: all .6s;
    color: wheat;
    font-weight: bold; 
   }
 .header__button-login:hover {
    cursor: pointer;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
 }