* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none !important;
    width: fit-content;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease-out;
}

a:hover {
    color: #FFFFFF;
}

a:hover::after {
    width: 100%;
}

#themeSwitcher {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 1350px;

    input {
        margin: 0;
        padding: 5px 10px;
    }
}

#header {
    background: rgb(72, 69, 69);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;

    nav {
        padding: 5px 7px;
        height: 50px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        font-size: 17px;
        font-weight: 700;
    }

    nav a:last-child {
        margin-left: 50px;
    }
}

h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.headerBlack {
    background-color: black !important;
    color: #605d5d;
}

#aboutMe {
    animation: slideIn 1s ease-out;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;

    .aboutMe-container {
        display: flex;
        align-items: center;

        .aboutMe-container-content {
            max-width: 500px;
            padding: 20px 50px;
            p {
                font-size: 18px;
                line-height: 28px;
            }
        }

        .aboutMe-container-content:hover {
            min-height: 300px;
        }

        img {
            width: 500px;
        }
    }

    .sectionButton {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #605d5d;
        border: 1px solid rgb(149, 96, 96);
        color: white;
    }

    .sectionButton:after {
        content: '>';
        padding: 5px;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.248);
        height: fit-content;
    }
}

.aboutMeBlack {
    background-color: rgba(0, 0, 0, 0.816);
    color: #FFFFFF;
}

#extraInfo {
    animation: slideIn 1s ease-out;
    background-color: rgba(0, 0, 0, 0.275);
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    min-height: 75vh;
    .extraInfo-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 100px;

        div {
            max-width: 500px;
            padding: 20px 50px;
            line-height: 28px;
            h3 {
                margin-bottom: 10px;
                font-size: 25px;
                font-weight: 800;
            }

            p,
            li {
                font-size: 18px;
            }

            ul {
                list-style-type: none;
            }
        }
    }
}
.extraInfo-black{
    background-color: rgba(0, 0, 0, 0.892)!important;
    h3, p, li, h2{
        color: #FFFFFF;
    }
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.645);
    flex-direction: column;
    gap: 30px;
    padding: 100px 70px;
    color: #FFFFFF;
    -webkit-transition: opacity 2.5s ease;
    -o-transition: opacity 2.5s ease;
    transition: opacity 2.5s ease;

    a,
    h2 {
        color: #FFFFFF;
    }

    img {
        width: 32px;
    }
}

.footerBlock {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.footerLinks {
    width: 447px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerLinks div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footerLinks h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.footerLnk,
.footerContacts {
    font-size: 17px;
    gap: 16px;
    line-height: 27px;
    width: 179px;
    display: flex;
    flex-direction: column;
}

.footerTitles {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}